* {
  font-family: roboto, sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(0.25turn, #3f87a6, #c38eff, #f63c74);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repear(4, 1fr);
}

.display {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
  justify-content: space-between;
  color: white;
  font-weight: 700;
  background: rgba(0, 0, 0, 0.7);
  padding: 40px 30px;
  height: 150px;
}

.previous-operation {
  font-size: 20px;
  font-weight: 400;
  opacity: 0.7;
}

.current-operation {
  font-size: 48px;
}

button {
  border: none;
  background: rgb(0, 0, 0);
  opacity: 0.6;
  color: white;
  padding: 30px 10px;
  border: 1px solid rgb(66, 66, 66);
  font-size: 16px;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.equals {
  grid-column: 3/-1;
}
